global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: gandalf
    scheme: http
    metrics_path: /metrics
    static_configs:
      - targets:
{% for target in prometheus_targets %}
          - "{{ target }}"
{% endfor %}
